<div class="main">
  <div class="boxInfo">
    <h3>Як правильно скласти договір оренди квартири</h3>
    <p>Відповідно до статті 811 Цивільного кодексу України, договір найму житла укладається у письмовій формі.
      Учасниками орендних відносин можуть бути фізичні та юридичні особи. При цьому, якщо наймачем є юридична особа,
      використовувати житлове приміщення можна тільки для проживання в ньому фізичних осіб (ст. 813 ЦКУ). Здача квартир,
      котеджів і будинків без укладення договору оренди обмежує права і ускладнює захист інтересів як орендодавця, так і
      наймача.При винайманні квартири, будинку або котеджу на термін більше трьох років, буде потрібно нотаріальне
      посвідчення
      угоди з наступною державною реєстрацією (статті 793, 794 ЦК). Недотримання цієї вимоги дозволяє визнати договір
      оренди недійсним в судовому порядку. При продовженні договору найму, укладеного на період до 3 років, нотаріальне
      посвідчення та державна реєстрація права користування нерухомим майном не потрібно.
    </p>
  </div>
  <div class="boxInfo">
    <h3>Які умови оренди будинків, квартир в Україні?</h3>
    <p>При оформленні орендних відносин в договорі найму повинні бути прописані такі умови:</p>
    <ul>
      <li>найменування та реквізити сторін</li>
      <li>технічні дані орендованої нерухомості</li>
      <li>термін укладення договору оренди житла</li>
      <li>права, обов’язки та відповідальність сторін</li>
      <li>умови дострокового розірвання договору найму</li>
      <li>розмір, спосіб і строки внесення плати за оренду</li>
    </ul>
    <p>Крім того, щоб уникнути можливих непорозумінь в майбутньому, в договорі можна прописати будь-які додаткові умови,
      наприклад, відповідальність за оплату комунальних послуг, проведення косметичного або капітального ремонту,
      можливість проживання з орендарем інших осіб і домашніх тварин. Законодавство України не передбачає обмежень для
      внесення додаткових умов до договору оренди житлових приміщень (квартири, будинку, кімнати, котеджу, дачі тощо).
    </p>
    <p><i><b>Важливо!</b>Уважне вивчення документів до їх підписання запобігає виникненню подальших проблем.</i></p>
  </div>
  <div class="boxInfo">
    <h3>На який термін можна орендувати будинок, квартиру?</h3>
    <p>Термін дії орендних зобов’язань є договірною умовою і визначається сторонами самостійно. У випадках, коли
      тривалість найму житлових приміщень не була прописана, договір вважається укладеним на п’ять років.
      Квартиронаймачі, які уклали договори на період менше одного року (короткостроковий договір найму), згідно з
      українським законодавством дещо обмежені в правах. Зокрема, орендарі позбавлені переважного права на переукладання
      оренди, а також не мають права допускати проживання в будинку сторонніх осіб.</p>
  </div>
  <div class="boxInfo">
    <h3>Які права мають орендарі?</h3>
    <div class="listBox">
        <div class="listLeft">
            <p>Квартиранти мають право:</p>
            <ul class="textEdit">
              <li>використовувати орендовану нерухомість і майно, що знаходиться в ній</li>
              <li>підселяти тимчасових мешканців і здавати житло в суборенду — за згодою орендодавця</li>
              <li>вимагати відшкодування збитків, заподіяних життю
                чи здоров’ю внаслідок неналежного або небезпечного стану орендованої квартири
              </li>
              <li>наполягати на зменшенні
                розміру орендної плати, в разі погіршення якості житла — на підставі угоди сторін
              </li>
            </ul>
        </div>
        <div class="listRight">
            <p>Квартиранти зобов'язані:</p>
            <ul class="textEdit">
              <li>своєчасно і в повному обсязі оплачувати орендну плату та комунальні послуги</li>
              <li>тримати наймане майно в чистоті і порядку, запобігати його пошкодженню</li>
              <li>компенсувати збитки і усувати пошкодження, які сталися з вини квартиранта</li>
              <li>не здійснювати без згоди орендодавця перебудову та перепланування</li>
            </ul>
        </div>
    </div>
    
  </div>
</div>
