<footer>
  <div class="main">
    <div class="infoField">
      <p>Детальніше за телефоном</p>
      <a class="tel" href="tel:+380730000000">0730000000</a>
      <p>Знайдіть нас в соціальних мережах</p>
      <div class="social">
        <a href="https://www.facebook.com"><i class="uil uil-facebook"></i></a>
        <a href="https://www.instagram.com"><i class="uil uil-instagram"></i></a>
        <a href="mailto:khrystyna.kubay@gmail.com"><i class="uil uil-envelope-edit"></i></a>
      </div>
    </div>
    <div class="logoField">
      <a class="logo" [routerLink]="[ '/home' ]">
        <div class="logo"></div>
      </a>
    </div>
  </div>
  <hr>
  <p class="small">© Copyright 2020 .home Усі права захищенні.</p>
</footer>
